-
    var dateTags = htmlWebpackPlugin.options.data.dateTags
    var hGroup = htmlWebpackPlugin.options.data.balance.hGroup
    var status = htmlWebpackPlugin.options.data.balance.status
    var services = htmlWebpackPlugin.options.data.balance.services

section#billing
    nav#date-tags(grow="true", row)
        ul(row, shrink="false")
            each tag, key in dateTags
                li(class={ active: key == 0 })
                    a= tag

    section#balance(align="center", row)
        hgroup
            each h, key in hGroup
                h5(class={ active: key == 0 }, align="middle", row)
                    .icon-wrapper
                        +icon(h.icon)
                    span= h.title

        .total(align="center", row)
            .price-tag
                p R$
            .value(align="middle", col)
                p valor total
                p 10.178,60

    section#graphics(align="center", row)
        .center-block(align="around", row)
            #services(align="middle", col)
                .content(align="center", col)
                    h3 Serviços
                    .doughnut(align="center", col)
                        canvas(id="doughnut", width="100%", height="100%")
                    ul
                        each service in services
                            li(align="center", row)
                                .marker(align="left", row)
                                    .circle
                                    h6= service.title
                                .value(align="right", row)
                                    span= service.value

            #status(align="middle", col)
                .content(align="center", col)
                    h3 Despesas x receitas
                    .board(align="center", row)
                        canvas(id="board", width="100%", height="100%")
                    ul
                        each info in status
                            li(align="center", row)
                                .marker(align="left", row)
                                    .circle
                                    h6= info.title
                                .value(align="right", row)
                                    span= info.value
